<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/link') %>
</head>
<body>
    <%- include('partials/navbar') %>
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="mid col-md-6">
                <div class="card">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        <form class="my-form" name="my-form" action="/login" method="post">
                           
                            <div class="form-group row">
                                 <label for="email" class="col-md-4 col-form-label text-md-right">Email-Adderss</label>
                                <div class="col-md-8">
                                    <input type="email" id="email_address" class="form-control" autocomplete="off" placeholder="Enter Email" name="email" required>
                                </div>
                            </div>
                           
                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-8">
                                    <input type="password" id="user_name" class="form-control" autocomplete="off" placeholder="Enter Paaword" name="password" required>
                                </div>
                            </div>
                             
                                <div class="col-md-6 offset-md-4 buton">
                                    <button type="submit" class="btn btn-primary" id="btn login">
                                    Login
                                    </button>
                                </div>
                            <p>If you don't have account <a href="/">Create New Acoount</a></p>    
                        </form>
                    </div>
                </div>  
            </div>
        </div>
    </div>

    <!-- footer -->

    <%- include('partials/footer') %>
    
</body>
</html>
